In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv(r'./preprocess.csv')

In [4]:
data.head()

   Unnamed: 0   N   P   K  temperature   humidity    rainfall  label
0           0  90  42  43    20.879744  82.002744  202.935536     20
1           1  85  58  41    21.770462  80.319644  226.655537     20
2           2  60  55  44    23.004459  82.320763  263.964248     20
3           3  74  35  40    26.491096  80.158363  242.864034     20
4           4  78  42  42    20.130175  81.604873  262.717340     20

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   2200 non-null   int64
 1   N            2200 non-null   int64
 2   P            2200 non-null   int64
 3   K            2200 non-null   int64
 4   temperature  2200 non-null   float64
 5   humidity     2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   int64
dtypes: float64(3), int64(5)
memory usage: 137.6 KB

In [6]:
data.describe()

,Unnamed: 0,N,P,K,temperature,humidity,rainfall,label
count,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000
mean,1099.500000,50.551818,53.362727,48.149091,25.616244,71.481779,103.463655,10.500000
std,635.229617,36.917334,32.985883,50.647931,5.063749,22.263812,54.958389,6.345731
min,0.000000,0.000000,5.000000,5.000000,8.825675,14.258040,20.211267,0.000000
25%,549.750000,21.000000,28.000000,20.000000,22.769375,60.261953,64.551686,5.000000
50%,1099.500000,37.000000,51.000000,32.000000,25.598693,80.473146,94.867624,10.500000
75%,1649.250000,84.250000,68.000000,49.000000,28.561654,89.948771,124.267508,16.000000
max,2199.000000,140.000000,145.000000,205.000000,43.675493,99.981876,298.560117,21.000000

In [7]:
data.isna().sum()

Unnamed: 0     0
N              0
P              0
K              0
temperature    0
humidity       0
rainfall       0
label          0
dtype: int64

In [8]:
data['label'].value_counts()

20    100
11    100
8     100
6     100
4     100
17    100
16    100
0     100
15    100
21    100
7     100
12    100
1     100
19    100
10    100
2     100
14    100
13    100
18    100
9     100
3     100
5     100
Name: label, dtype: int64

In [9]:
X = data[['N','P','K','humidity','rainfall']]
Y=data['label']
print(X.shape)
print(Y.shape)

(2200, 5)
(2200,)

In [11]:
from imblearn.combine import SMOTETomek
sm = SMOTETomek()
X_bal, Y_bal = sm.fit_resample(X, Y)

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X_bal, Y_bal, test_size=0.15, random_state=111)

In [13]:
from sklearn.ensemble import ExtraTreesClassifier
etc = ExtraTreesClassifier(min_samples_split=7, random_state=111)
etc.fit(X_train,Y_train)
ET=etc.score(X_train,Y_train)
test_accuracy = etc.score(X_test, Y_test)
print('Score:{}'.format(test_accuracy))

Score:0.9969418960244648

In [14]:
from sklearn.metrics import confusion_matrix, accuracy_score, ConfusionMatrixDisplay
Y_pred = etc.predict(X_test)
confusion_mat = confusion_matrix(Y_test,Y_pred)
print("Confusion Matrix")
print(confusion_mat)

Confusion Matrix
[[15  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0 13  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0 10  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0 16  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0 11  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0 14  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0 16  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0 23  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0 11  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0 17  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0 16  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  7  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0 17  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0 18  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0 15  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 18  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 12  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 14  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 17  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 15  0  0]
 [ 0  0  0  0  0  0  0  0  1  0  0  0  0  0  0  0  0  0  0  0 10  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 21]]

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
XgB=GradientBoostingClassifier(n_estimators=100)
XgB.fit(X_train,Y_train)
XgB.score(X_test,Y_test)

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score, ConfusionMatrixDisplay
Y_pred = XgB.predict(X_test)
confusion_mat = confusion_matrix(Y_test,Y_pred)
print("Confusion Matrix")
print(confusion_mat)

In [ ]:
from sklearn.linear_model import LogisticRegression
lrc = LogisticRegression(solver='liblinear', penalty='l1')
lrc.fit(X_train,Y_train)
LR=lrc.score(X_train,Y_train)
test_accuracy = lrc.score(X_test, Y_test)
print('Score:{}'.format(test_accuracy))

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score, ConfusionMatrixDisplay
Y_pred = lrc.predict(X_test)
confusion_mat = confusion_matrix(Y_test,Y_pred)
print("Confusion Matrix")
print(confusion_mat)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=31, random_state=111)
rfc.fit(X_train,Y_train)
RF=rfc.score(X_train,Y_train)
test_accuracy = rfc.score(X_test, Y_test)
print('Score:{}'.format(test_accuracy))

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score, ConfusionMatrixDisplay
Y_pred = rfc.predict(X_test)
confusion_mat = confusion_matrix(Y_test,Y_pred)
print("Confusion Matrix")
print(confusion_mat)